@model IEnumerable<Decibel.Models.Komentar>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tekst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vrijemePjesmeSekunde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kreiranDatumVrijeme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Korisnik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pjesma)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tekst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vrijemePjesmeSekunde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kreiranDatumVrijeme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Korisnik.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pjesma.ID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
