@model IEnumerable<Decibel.Models.KorisnikPretplata>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Korisnik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pretplata)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PretplataStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kreiranDatumVrijeme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datumVrijemeObnove)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datumIsteka)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Korisnik.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pretplata.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PretplataStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kreiranDatumVrijeme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datumVrijemeObnove)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datumIsteka)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
