@model Decibel.Models.PjesmaPlayLista

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PjesmaPlayLista</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kreiranDatumVrijeme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kreiranDatumVrijeme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pjesma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pjesma.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayLista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayLista.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sljedecaPjesma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sljedecaPjesma.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prethodnaPjesma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prethodnaPjesma.ID)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
